.section-main{
    background-color: #c8c9c8;
}
.logo_img{
    width: 5%;
}
.para{
    font-family: inte;
    font-size: 24px;
}

.head{
    font-family: instrument-serif ;
    font-size: 124px;

}

.button{
    color: blue;
    width: 400px;
}
.custom_button{
    width: 220px;
    height: 60px;
    color: black;
    font-family: joan;
    font-weight: 1000;
    font-size: 18px;
    border-radius: 20px;
    background-color: #d9d9d9;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
}
.banner_img{
    width: 90%;
}
.btn-container{
    padding-right: 30px;
    padding-left: 30px;
}
.section-main{
    height: 100vh;
    background-color: white;
    background-size: cover;
}
.bg-lights{
    background-color: #f6f7f9;
}
.nav-font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.crew-profile{
    width: 130px;
    padding-left: 0px;
    padding-top: 0px;
    border-style: solid;
    border-radius: 200px;
}
.box1{
    text-align: center;
}
.arc_banner{
    width: 100%;
    height: 50vh;
}
.clook{
    background-color: #e0e0e0d9;
    border-color: black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}
.section1{
    background-color: #d9d9d9;

}
.ships{
    width: 103%;
}
.thousandsunny{
    width: 90%;
}
.section2{
    background-color: white;
}
.sction-footer{
    text-align: center;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eeefee;
    background-size: cover;
}
.hiimange{
  text-shadow: 2px 2px;
}

.luffyfoot{
    text-align: start;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
